body {
    background-image: url(images/puzzle-3223941.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    margin: 0;

}

#name {
    font-family: 'Dancing Script', cursive;
}


.header {
    font-family: 'Dancing Script', cursive;

}